@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Poppins, sans-serif;
  color: #151515;
}

.container {
  max-width: 75%;
  margin: auto;
}

.movie-card {
  margin-top: 2rem;
  height: 800px;
  text-align: center;
}

.movie-title {
  text-transform: capitalize;
  padding: 1rem;
}

.movie-poster-container img {
  margin-top: 2rem;
  height: 500px;
  border-radius: 10px;
  position: relative;
}

.movie-poster-container img:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 8px 8px 8px -4px darkgray;
}

.movie-poster {
  width: 300px;
  cursor: pointer;
}

.movie-rating {
  display: inline-block;
  border: 1px solid #151515;
  padding: 2px;
  border-radius: 5px;
}

.movie-duration {
  margin-left: 1rem;
  letter-spacing: 0.2rem;
}

.movie-duration:before {
  content: "\2022";
}

.movie-info-quote {
  color: #151515a4;
  font-style: italic;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.movie-info-overview-title {
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

.movie-info-actions {
  font-size: 1.1rem;
}

.movie-info-actions ul {
  list-style: none;
  animation: blink 3s ease-in-out infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.movie-info-actions ul li {
  display: inline-block;
  margin-right: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgb(3, 37, 65);
}

.movie-info-actions ul li:hover {
  transform: scale(1.1);
  animation-play-state: paused;
}

.movie-info-actions ul li a {
  text-decoration: none;
  color: #fff;
  padding: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  margin-top: 5rem;
  text-align: center;
  color: #777;
  bottom: 0;
}

footer ul {
  list-style: none;
}

footer ul li {
  display: inline-block;
  margin-top: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

footer ul li:hover {
  transform: scale(1.1);
}

footer ul li a {
  font-size: 1.5rem;
  color: #777;
}
